- alias: Sample
  trigger:
    - platform: event
      event_type: xiaomi_aqara.click
      event_data:
        entity_id: binary_sensor.switch_xxxxxxxxxx
        click_type: single
  action:
   - service_template: "{{ 'light.turn_on' if is_state('group.yeelight_lights', 'off') else 'light.turn_off' }}"
     data_template:
       entity_id: >-
         {% if is_state('group.yeelight_lights', 'off') %}
          light.yeelight1, light.yeelight3
         {% else %}
          {{ states | selectattr('entity_id','in', state_attr('group.yeelight_lights', 'entity_id') ) | selectattr('state','eq','on') | map(attribute='entity_id') | join(', ') }}
         {% endif %}

- alias: Another
  trigger:
    - platform: event
      event_type: xiaomi_aqara.click
      event_data:
        entity_id: binary_sensor.switch_xxxxxxxxxx
        click_type: single
  action:
   - service: scene.turn_on
      data_template:
        entity_id: >
          {% if is_state('group.yeelight_lights', 'off') %} 
            scene.yeelight_on
          {% else %}
            scene.yeelight_off
          {% endif %}
